.text-primary {
  color: #F05F40 !important; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.btn-default {
  color: #222222;
  background: none;
  border: 2px solid #fff !important; }
  .btn-default.focus, .btn-default:focus {
    color: #000;
    background: #fff;
    border: 2px solid #fff !important; }
  .btn-default:hover {
    color: #000;
    background: #fff;
    border: 2px solid #fff !important; }
  .btn-default.active, .btn-default:active,
  .open > .btn-default.dropdown-toggle {
    color: #222222;
    background: none;
    border: 2px solid #fff !important; }
    .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover,
    .open > .btn-default.dropdown-toggle.focus,
    .open > .btn-default.dropdown-toggle:focus,
    .open > .btn-default.dropdown-toggle:hover {
      color: #222222;
      background: none;
      border: 2px solid #fff !important; }
  .btn-default.active, .btn-default:active,
  .open > .btn-default.dropdown-toggle {
    background-image: none; }
  .btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover,
  fieldset[disabled] .btn-default.focus,
  fieldset[disabled] .btn-default:focus,
  fieldset[disabled] .btn-default:hover {
    border-color: white;
    background-color: white; }
  .btn-default .badge {
    color: white;
    background-color: #222222; }

.btn-primary {
  color: white;
  background: none;
  border: 2px solid #fff !important; }
  .btn-primary.focus, .btn-primary:focus {
    color: #000;
    background: #fff;
    border: 2px solid #fff !important; }
  .btn-primary:hover {
    color: #000;
    background: #fff;
    border: 2px solid #fff !important; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    color: white;
    background: none;
    border: 2px solid #fff !important; }
    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
    .open > .btn-primary.dropdown-toggle.focus,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle:hover {
      color: white;
      background: none;
      border: 2px solid #fff !important; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary.focus,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary:hover {
    border-color: #F05F40;
    background-color: #F05F40; }
  .btn-primary .badge {
    color: #F05F40;
    background-color: white; }

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

.btn-xl {
  padding: 15px 30px; }

body,
html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif; }

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40; }

hr.light {
  border-color: white; }

a {
  color: #fffa55;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  a:focus, a:hover {
    color: #f05f40; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px; }

ul {
  list-style-type: none; }

.bg-primary {
  background-color: #F05F40 !important; }

.bg-dark {
  color: white;
  background-color: #222222 !important; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

section {
  padding: 100px 0; }

.section-heading {
  margin-top: 0; }

::-moz-selection {
  color: white;
  background: #222222;
  text-shadow: none; }

::selection {
  color: white;
  background: #222222;
  text-shadow: none; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  -webkit-tap-highlight-color: #222222; }

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  #mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #F05F40;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
    #mainNav .navbar-brand img {
      width: 100px; }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #f05f40; }
  #mainNav .navbar-toggle {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
      color: #F05F40; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
      color: #F05F40 !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: rgba(255, 255, 255, 0.3);
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: white; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: white; }
      #mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.05);
        background-color: white; }
        #mainNav.navbar-shrink .navbar-brand {
          font-size: 16px;
          color: #F05F40; }
          #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
            color: #f05f40; }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: #222222; }
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #F05F40; } }

header.masthead {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: white;
  background-image: url("./../../assets/img/header.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead .header-content {
    position: relative;
    width: 100%;
    padding: 150px 15px 100px;
    text-align: center; }
    header.masthead .header-content .header-content-inner h1 {
      font-size: 30px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0;
      text-transform: uppercase; }
    header.masthead .header-content .header-content-inner hr {
      margin: 30px auto; }
    header.masthead .header-content .header-content-inner p {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 50px;
      color: rgba(255, 255, 255, 0.7); }
  @media (min-width: 768px) {
    header.masthead {
      height: 100%;
      min-height: 600px; }
      header.masthead .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        header.masthead .header-content .header-content-inner {
          max-width: 1000px;
          margin-right: auto;
          margin-left: auto; }
          header.masthead .header-content .header-content-inner h1 {
            font-size: 50px; }
          header.masthead .header-content .header-content-inner p {
            font-size: 18px;
            max-width: 80%;
            margin-right: auto;
            margin-left: auto; } }

.bg-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.bg-image {
  position: relative;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.bg-black-t {
  background-color: rgba(0, 0, 0, 0.8); }

.bg-light-gray {
  background-color: #f9f9f9; }

.bg-white-t {
  background-color: rgba(255, 255, 255, 0.85); }

.main-list {
  padding-left: 0; }

#packages {
  background-image: url("./../../assets/img/bg-1.jpg");
  width: 100%; }

#services {
  background-image: url("./../../assets/img/bg-2.jpg");
  color: #fff;
  width: 100%; }

footer {
  background-image: url("./../../assets/img/bg-3.jpg");
  width: 100%;
  color: #fff; }

.carousel-item div {
  color: #fff; }
  .carousel-item div .container {
    position: relative;
    text-align: center; }

.slick-item {
  padding: 100px 20px;
  min-height: 400px !important; }
  .slick-item .bg-black-t {
    color: #fff !important; }

.slick-1 {
  background-image: url("./../../assets/img/bg-4.jpg"); }

.slick-2 {
  background-image: url("./../../assets/img/bg-5.jpg"); }

.slick-3 {
  background-image: url("./../../assets/img/bg-6.jpg"); }

.book-events-1 {
  background-image: url("./../../assets/img/book-events-1.jpg"); }

.book-events-2 {
  background-image: url("./../../assets/img/book-events-2.jpg"); }

.book-reviews-1 {
  background-image: url("./../../assets/img/book-reviews-1.jpg"); }

.book-reviews-2 {
  background-image: url("./../../assets/img/book-reviews-2.jpg"); }

.book-reviews-3 {
  background-image: url("./../../assets/img/book-reviews-3.jpg"); }

.book-to-screen-1 {
  background-image: url("./../../assets/img/hollywood-1.jpg"); }

.book-to-screen-2 {
  background-image: url("./../../assets/img/hollywood-2.jpg"); }

.book-to-screen-3 {
  background-image: url("./../../assets/img/hollywood-3.jpg"); }

.book-to-screen-4 {
  background-image: url("./../../assets/img/hollywood-4.jpg"); }

.print-advertising-1 {
  background-image: url("./../../assets/img/print-advertising-1.jpg"); }

.print-advertising-2 {
  background-image: url("./../../assets/img/print-advertising-2.jpg"); }

.print-advertising-3 {
  background-image: url("./../../assets/img/print-advertising-3.jpg"); }

.print-advertising-4 {
  background-image: url("./../../assets/img/print-advertising-4.jpg"); }

.print-advertising-5 {
  background-image: url("./../../assets/img/print-advertising-5.jpg"); }

.book-video-1 {
  background-image: url("./../../assets/img/book-video-1.jpg"); }

.book-video-2 {
  background-image: url("./../../assets/img/book-video-2.jpg"); }

.publishing-package-1 {
  background-image: url("./../../assets/img/publishing-package-1.jpg"); }

.publishing-package-2 {
  background-image: url("./../../assets/img/publishing-package-2.jpg"); }

.publishing-package-3 {
  background-image: url("./../../assets/img/publishing-package-3.jpg"); }

.internet-marketing-1 {
  background-image: url("./../../assets/img/internet-marketing-1.jpg"); }

.internet-marketing-2 {
  background-image: url("./../../assets/img/internet-marketing-2.jpg"); }

.internet-marketing-3 {
  background-image: url("./../../assets/img/internet-marketing-3.jpg"); }

.internet-marketing-4 {
  background-image: url("./../../assets/img/internet-marketing-4.jpg"); }

.internet-marketing-5 {
  background-image: url("./../../assets/img/internet-marketing-5.jpg"); }

.publicity-marketing-1 {
  background-image: url("./../../assets/img/publicity-marketing-1.jpg"); }

.publicity-marketing-2 {
  background-image: url("./../../assets/img/publicity-marketing-2.jpg"); }

.publicity-marketing-3 {
  background-image: url("./../../assets/img/publicity-marketing-3.jpg"); }

.publicity-marketing-4 {
  background-image: url("./../../assets/img/publicity-marketing-4.jpg"); }

.publicity-marketing-5 {
  background-image: url("./../../assets/img/publicity-marketing-5.jpg"); }

/*# sourceMappingURL=maps/main.css.map */
