.slick-item {
	padding: 100px 20px;
	min-height: 350px !important;
}

.slick-1 {
	background-image: url('./../../assets/img/bg-4.jpg');
}

.slick-2 {
	background-image: url('./../../assets/img/bg-5.jpg');
}

.slick-3 {
	background-image: url('./../../assets/img/bg-6.jpg');
}