.carousel-item div {
	color: #fff;

	.container {
		position: relative;
		text-align: center;
	}
}

.slick-item {
	padding: 100px 20px;
	min-height: 400px !important;

	.bg-black-t {
		color: #fff !important;
	}
}

.slick-1 {
	background-image: url('./../../assets/img/bg-4.jpg');
}

.slick-2 {
	background-image: url('./../../assets/img/bg-5.jpg');
}

.slick-3 {
	background-image: url('./../../assets/img/bg-6.jpg');
}
