.carousel-item div {
	color: #fff;

	.container {
		position: relative;
		text-align: center;
	}
}

.slick-item {
	padding: 100px 20px;
	min-height: 400px !important;

	.bg-black-t {
		color: #fff !important;
	}
}

.slick-1 {
	background-image: url('./../../assets/img/bg-4.jpg');
}

.slick-2 {
	background-image: url('./../../assets/img/bg-5.jpg');
}

.slick-3 {
	background-image: url('./../../assets/img/bg-6.jpg');
}

.book-events-1 {
	background-image: url('./../../assets/img/book-events-1.jpeg');
}

.book-events-2 {
	background-image: url('./../../assets/img/book-events-2.jpg');
}

.book-reviews-1 {
	background-image: url('./../../assets/img/book-reviews-1.jpg');
}

.book-reviews-2 {
	background-image: url('./../../assets/img/book-reviews-2.jpg');
}

.book-reviews-3 {
	background-image: url('./../../assets/img/book-reviews-3.jpg');
}

.book-to-screen-1 {
	background-image: url('./../../assets/img/hollywood-1.jpg');
}

.book-to-screen-2 {
	background-image: url('./../../assets/img/hollywood-2.jpg');
}

.book-to-screen-3 {
	background-image: url('./../../assets/img/hollywood-3.jpg');
}

.book-to-screen-4 {
	background-image: url('./../../assets/img/hollywood-4.jpg');
}

.print-advertising-1 {
	background-image: url('./../../assets/img/print-advertising-1.jpg');
}

.print-advertising-2 {
	background-image: url('./../../assets/img/print-advertising-2.jpg');
}

.print-advertising-3 {
	background-image: url('./../../assets/img/print-advertising-3.jpg');
}

.print-advertising-4 {
	background-image: url('./../../assets/img/print-advertising-4.jpg');
}

.print-advertising-5 {
	background-image: url('./../../assets/img/print-advertising-5.jpg');
}

.book-video-1 {
	background-image: url('./../../assets/img/book-video-1.jpg');
}

.book-video-2 {
	background-image: url('./../../assets/img/book-video-2.jpg');
}

.publishing-package-1 {
	background-image: url('./../../assets/img/publishing-package-1.jpg');
}

.publishing-package-2 {
	background-image: url('./../../assets/img/publishing-package-2.jpg');
}

.publishing-package-3 {
	background-image: url('./../../assets/img/publishing-package-3.jpg');
}

.internet-marketing-1 {
	background-image: url('./../../assets/img/internet-marketing-1.jpg');
}

.internet-marketing-2 {
	background-image: url('./../../assets/img/internet-marketing-2.jpg');
}

.internet-marketing-3 {
	background-image: url('./../../assets/img/internet-marketing-3.jpg');
}

.internet-marketing-4 {
	background-image: url('./../../assets/img/internet-marketing-4.jpg');
}

.internet-marketing-5 {
	background-image: url('./../../assets/img/internet-marketing-5.jpg');
}

.publicity-marketing-1 {
	background-image: url('./../../assets/img/publicity-marketing-1.jpeg');
}

.publicity-marketing-2 {
	background-image: url('./../../assets/img/publicity-marketing-2.jpeg');
}

.publicity-marketing-3 {
	background-image: url('./../../assets/img/publicity-marketing-3.jpeg');
}

.publicity-marketing-4 {
	background-image: url('./../../assets/img/publicity-marketing-4.jpg');
}

.publicity-marketing-5 {
	background-image: url('./../../assets/img/publicity-marketing-5.jpg');
}

.publicity-marketing-5 {
	background-image: url('./../../assets/img/publicity-marketing-6.jpg');
}
