.bg-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: center;
    background-size: cover;
}

.bg-image {
	position: relative;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bg-black-t {
	&:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
    }
}

.bg-light-gray {
	background-color: #f9f9f9;
}

.bg-white-t {
	background-color: rgba(255, 255, 255, 0.85);
}

.color-white {
	color: #fff;
}

.main-list {
	padding-left: 0;
}
